@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #f6f6f6;
}

body {
    background-color: hsl(236, 92%, 10%);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 40px;
    padding:2.5em 2em;
}

.logo{
    font-size: 6vmin;
}

input[type="text"]{
    max-height: 50px;
    color: hsl(236, 92%, 10%);
    
}